.forecast-card {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .time {
        width: 8%;
    }
      
    .temperature {
        text-align: center;
        width: 48%;
    }
    
    .description {
        width: 38%;
    }
}