.forecast {
    > h2 {
      text-align: left;
    }

    .forecast-group {
      border: 1px solid #ccc;
      margin-bottom: 20px; 
      position: relative;

      > h2 {
        position: absolute;
        margin: 0;
        left: 15px;
      }

      .forecast-card {
        margin-top: 30px;
      }
    }
}