.forecast {
    > h2 {
      text-align: left;
      margin-left: 20px;
    }

    .forecast-group {
      border: 1px solid #ccc;
      margin-bottom: 20px; 

      > h2 {
        text-align: left;
        margin-left: 20px;
      }

      .forecast-card {
        margin-top: 30px;
      }
    }
}